.job-site-table {
    margin-top: 20px;
    width: 100%;
    .table-header,
    .table-row {
        display: flex;
        justify-content: space-between;
        padding: 15px 10px;
        border-bottom: 1px solid #ddd;
    }

    .table-header {
        font-weight: bold;
        background-color: #f8f9fa;
        border-top: 1px solid #ddd;
    }

    .table-row {
        &:hover {
            background-color: #f1f1f1;
        }
    }
}
